<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in to_do_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' list.id %}">{{list.name}}</a></td>
                            <td>{{list.items.all|length}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
